body {
    font-family: "Helvetica Neue";
    margin: 0;
    padding: 0;
    background-color: #909474;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #909474;
}

header .logo {
    font-weight: bold;
    font-size: 24px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
}

.intro {
    padding: 50px;
    text-align: left;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.project {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: calc(50% - 40px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.project h2 {
    margin-top: 0;
}

.project .project-image {
    height: 150px;
    background-color: #ccc;
    border-radius: 10px;
    margin: 20px 0;
}

footer {
    background-color: #BDC1A2;
    padding: 20px;
    text-align: center;
}

footer .contact p {
    margin: 5px 0;
}

footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer nav ul li {
    display: inline;
}

footer nav ul li a {
    text-decoration: none;
    color: #909474;
    font-weight: bold;
}